.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  height: 100%;
  border-radius: 5px;
}

.card-gallery {
  position: relative;
  max-height: 290px;
}

.card-background {
  margin: 0;
}

.card-foreground {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 64px;
  border-radius: 50px;
  background-color: #00D053;
  margin: 0 auto;
  transition-duration: 0.8s;
}

.card-foreground:hover {
  height: 72px;
  width: 72px;
}

.search-icon {
  width: 23px;
  transition-duration: 0.5s;
}

.card-foreground:hover .search-icon {
  width: 26px;
}

.card-overlay {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  background-color: #343C4A;
  opacity: 0.6;
}

.card-gallery:hover .card-overlay, .card-gallery:hover .card-foreground {
  display: flex;
}

.card-plan {
  padding: 20px 18px;
  box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
  border-radius: 5px;
}

.card-body {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-footer {
  text-align: center;
}

.card-title, .card-description {
  margin: 0;
}

.card-title {
  font-size: 20px;
	line-height: 24px;
  color: #373F55;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
	line-height: 20px;
	color: #464649;
	margin-bottom: 20px;
}

.section-reviews .card-description {
  font-size: 13px;
	line-height: 18px;
  color: #000000;
  text-align: center;
}

.section-reviews .card-p {
  margin-bottom: 10px;
}

.section-reviews .card-rating {
  margin-bottom: 0;
}

.bio-name {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 10px;
}

.card-bio {
  text-align: center;
}

.card-price {
	font-size: 30px;
	line-height: 36px;
	color: #373F55;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.card-rating {
	margin-bottom: 25px;
}

.card-rating {
  width: 100%;
}

.card-review {
  padding: 20px 10px 15px 10px;
  background-color: white;
  box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
}

.card-review .card-header {
	margin-bottom: 10px;
}

.section-reviews .card-body {
  padding: 0;
}

.card-media {
  width: 100%;
  margin: 0;
}

.section-reviews .card-rating {
  justify-content: center;
}

.rating-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -2px;
}

.rating-left > * {
  padding: 0 2px;
}

.section-reviews .rating-left img {
	width: 15px;
	height: 15px;
}

.rating-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-p {
	font-size: 13px;
	line-height: 15px;
	margin: 0;
	color: #888EA0;
}

@media screen and (min-width: 480px) {
	.card-title {
    font-size: 16px;
    line-height: 22px;
	}
	
	.card-description {
    font-size: 14px;
    line-height: 18px;
	}
	
	.card-p {
    font-size: 12px;
    line-height: 15px;
	}
	
	.card-price {
    font-size: 28px;
    line-height: 36px;
	}
	
	.bio-name {
		font-size: 13px;
		line-height: 16px;
	}
}

@media screen and (min-width: 960px) {
  .bio-name {
		font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  
  .section-reviews .card-p {
    font-size: 14px;
  }

  .card-review .card-header {
    margin-bottom: 20px;
  }
}