.form {
  padding: 35px;
  border-radius: 5px
}

.hero .form {
  margin-top: 30px;
}

.form-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #333333;
  margin-bottom: 10px;
}

.form-subtitle {
  font-size: 12px;
  line-height: 20px;
  color: #B4B4B4;
  text-align: left;
  margin-top: 5px;
}

.input-wrap {
  position: relative;
}

.calendar-icon-form {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.calendar-icon-form::before {
  content: '\f073';
  font-family: FontAwesome;
  color: #00D053;
}

.flip-icon ~ .input-style {
  padding-right: 35px;
}

.icon-size {
  font-size: 16px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-right {
  display: flex;
  align-items: flex-end;
}

.form-input {
  color: black;
  background-color: #ffffff;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 100%;
  outline: none;
}

.form-input::-webkit-input-placeholder {
	color: black;
	font-size: 14px;
}

.form-input:-ms-input-placeholder {
	color: black;
	font-size: 14px;
}

.form-input::-ms-input-placeholder {
	color: black;
	font-size: 14px;
}

.form-input::placeholder {
	color: black;
	font-size: 14px;
}

.input-style {
  padding: 8px;
  width: 100%;
  color: black;
  font-size: 16px;
  line-height: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
}

@media screen and (min-width: 480px) {
  .form-left, .form-right {
    padding: 0;
  }

  .footer .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer .form-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
    margin: 0 -5px;
  }

  .footer .form-control > * {
    padding: 0 5px;
  }
  
  .form-input {
    width: 100%;
  }
  
}

@media screen and (min-width: 640px) {
	.select-wrap {
    max-width: 250px;
  }
  
  .hero .form {
    margin: 0;
  }

  .form {
    padding: 46px 38px;
  }

  .footer .form-control {
    width: 420px;
  }
}

@media screen and (min-width: 960px) {
  .select-wrap {
    max-width: 220px;
  }

  .form-title {
    font-size: 24px;
  }

  .form-subtitle {
    font-size: 14px;
    margin-top: 10px;
  }

  .footer .form-control {
    width: 550px;
  }
}