.header{
  margin: 0;
  color: white;
  background-color: #fff;
  height: 100%;
  padding: 15px 0;
}

.header-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar {
  border-radius: 2px;
  overflow: hidden;
  margin: 0;
  width: 50px;
  height: 50px;
}

.header .avatar {
	width: 25px;
  height: 25px;
  margin-right: 6px;
}

.profile-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.profile-menu:hover {
  text-decoration: underline;
}

.profile-menu ul{
  display: none;
  list-style-type: none;
  position: absolute;
  z-index: 100;
  top: 80%;
  right: 0;
  padding: 8px;
  margin: 0;
  width: 115px;
  border-radius: 5px;
}

.profile-item {
  display: block;
  color: black;
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
}

.profile-item:hover{
  background-color: #00D053;
  color: white;
  text-decoration: none;
}

.profile-menu ul.is-open {
  display: block;
}

.login-name {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}

.header-search-button {
  display: none;
  width: 22px;
  margin-right: 15px;
  padding: 3px;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.header-search-button:hover {
  width: 28px;
}

.header-profile-button {
  width: 18px;
  margin: 0;
  padding: 3px;
  margin-top: 3px;
}

.header-search-icon {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 37px;
  padding: 0;
  margin: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  text-decoration: none;
}

.logo-title {
	color: #00D053;
  margin: 0;
  font-size: 18px;
}

@media screen and (min-width: 480px) {
	.logo-title {
		margin: 0;
		font-size: 24px;
  }
  
  .header-search-button {
    display: block;
  }
	
	.login-name {
    font-size: 18px;
  }
  
  .header .avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
	
	.avatar {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 640px) {
  .login-name {
    font-size: 16px;
  }
  
  .header-profile-button {
    width: 24px;
    padding: 5px;
    margin-top: 3px;
  }

  .avatar {
    width: 50px;
    height: 50px;
  }
}

@media screen and (min-width: 960px) {
  .header {
    padding: 30px 0;
  }

  .login-name {
    font-size: 20px;
  }

	.header-search-button {
		margin-right: 25px;
	}
	
	.logo-title {
    font-size: 30px;
	  line-height: 33px;
  }
  
  .header .avatar {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}