.hero {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.hero-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: 0;
}

.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0;
  background-color: rgba(52, 60, 74, 0.39);
}

.hero-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.hero-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 20px;
}

@media screen and (min-width: 480px) {
	.hero {
		padding: 50px 0;
	}
	
	.hero-title {
    font-size: 40px;
    line-height: 48px;
	}

	.hero-description {
    color: #F5F5F5;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 30px
	}
}

@media screen and (min-width: 640px) {
	.hero {
		padding: 80px 0;
  }

  .hero-layout {
    margin: 0 -10px;
  }

  .hero-layout > * {
    padding: 0 10px;
  }
  
  .hero-textarea {
    text-align: left;
  }
}

@media screen and (min-width: 960px) {
	.hero {
		padding: 120px 0;
  }
  
  .hero-layout {
    margin: 0 -25px;
  }

  .hero-layout > * {
    padding: 0 25px;
  }
	
	.hero-title {
		font-size: 60px;
		line-height: 68px;
		margin-bottom: 40px;
  }

	.hero-description {
		font-size: 18px;
		line-height: 26px;
		margin-bottom: 45px;
	}
}
