.header-navigation {
  display: none;
  font-size: 12px;
  font-weight: 600;
  margin: 0 -12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navigation > * {
  padding: 0 12px;
}

.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
  
.nav-item {
  padding: 10px 0;
  color: white;
  text-decoration: none;
  line-height: 1;
  text-align: center;
}

.nav-item:hover {
  color: #00D053;
}

.isactive {
  border-bottom: 2px solid #00D053;
}

.isactive:hover {
  color: white;
}

.nav-mobile {
	position: relative;
}

.nav-mobile ul{
  display: none;
  list-style-type: none;
  position: absolute;
  z-index: 100;
  top: 30px;
  right: 0;
  padding: 8px;
  margin: 0;
  width: 135px;
}

.nav-item-mob{
  display: block;
  color: black;
  padding: 8px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.4;
}

.nav-item-mob:hover{
  background-color: #00D053;
  color: white;
  text-decoration: none;
}

ul li{
  padding: 0;
}

.nav-mobile ul.is-open {
  display: block;
}

.burger-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

@media screen and (min-width: 640px) {
  .header-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;
  }

  .nav-mobile {
    display: none;
  }
  
  .header-bottom {
	  margin-top: 10px;
  }
}

@media screen and (min-width: 960px) {
  .header-navigation {
	  font-size: 20px;
    margin: 0 -14px;
  }
  
  .header-navigation > * {
    padding: 0 14px;
  }
}
