.swiper1-top iframe {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-slide {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
}

.swiper-title {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 29px;
  color: #333333;
}

.control-title {
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.swiper1-bottom {
  height: 50px;
  padding: 0;
}

.swiper1-bottom .swiper-slide {
  background-size: cover;
  background-position: center;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.slide-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  background-color: #343C4A;
  opacity: 0.7;
}

.swiper1-top .swiper-slide {
  margin: 0;
}

.swiper1-bottom .swiper-slide-thumb-active .slide-overlay {
  display: none;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  border-radius: 5px;
  overflow: hidden;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.swiper-slide-wrap {
  display: flex;
  justify-content: center;
  height: 100%;
}

.story-control-wrap {
  position: relative;
}

.slide-line {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 2px;
  background: radial-gradient(1.00px at 50% 50%, #00D053 0%, rgba(0, 208, 83, 0.09) 100%)
}

.story-control-outer {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0 auto;
}

.story-control-inner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00D053;
}

.swiper3-controls .swiper-slide-thumb-active .story-control-outer {
  background-color: rgba(0, 208, 83, 0.2);
}

.slide-body {
  background: #FFFFFF;
  color: #333333;
  box-shadow: 0px 4px 28px rgba(6, 6, 90, 0.06);
  border-radius: 10px;
  padding: 30px 20px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

@media screen and (min-width: 640px) {	
  .story-control-outer {
    width: 50px;
    height: 50px;
  }

  .swiper-title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .story-control-inner {
    width: 12px;
    height: 12px;
  }

  .slide-body {
    padding: 58px 38px;
    font-size: 16px;
    line-height: 23px;
  }
  
  .control-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 960px) {	
  .swiper1-bottom {
    height: 120px;
    padding: 0;
  }
}